.task-list {

}

.task-item {
  margin-top: 10px;
  /* width: 600px; */
}

.wrapper {
  display: flex;
  justify-content: center;
}

.task-add {
  width: 600px;
}

.mat-raised-button{
  margin-left: 10px;
}
