.task-item {
  margin-top: 10px;
  /* width: 600px; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 740px;
  padding-top: 10px;
}

.task-add {
  width: 600px;
}

.mat-raised-button{
  margin-left: 10px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  width: auto;
}
