<div class="calendar">
  <div class='date'></div>
  <div class='week head'>
    <div class='day'><span>пн</span></div>
    <div class='day'><span>вт</span></div>
    <div class='day'><span>ср</span></div>
    <div class='day'><span>чт</span></div>
    <div class='day'><span>пт</span></div>
    <div class='day'><span>сб</span></div>
    <div class='day'><span>вс</span></div>
  </div>
  <div id='weekCalendar'>
    <div class='week'>
      <div *ngFor="let item of arrDate; let i = index" class="day" [ngClass]="{holiday: item.holiday}">
        <span>{{item.i}}</span>
      </div>
    </div>
    <div ></div>
      <!-- *ngFor="let item of items; -->

    <!-- for (i = 0; i <= 6; i++) {
      let holiday = "";

      (i === day - 1 && w === 0) ? thisDay++ : "";             // Старт вывода даты
      (i === 5 || i === 6) ? holiday = " holiday" : "";
      inner += "<div class='day" + holiday + "'><span>" + thisDay + "</span></div>";
      thisDay === daysInMonth ? weekStop = 1 : "";           // Останавливаем цикл, что бы не было лишних недель

      (thisDay > 0 && thisDay < daysInMonth) ? thisDay++ : thisDay = "";
   } -->

  </div>

</div>
