.calendar {
  margin: 10px 50px 50px 50px;
  width: 350px;
}

.selectDate {
  margin: 50px 50px 10px 30px;
  width: 505px;
}

select {
  margin-left: 10px;
}

.head .day {
  background: #EE3233;
  color: #fff;
}

.date {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
}

.week {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
}

.day {
  border: 1px #ddd solid;
  flex-basis: 50px;
  /* background: #eee; */
  height: 50px;
  text-align: center;
  font-size: 25px;
  position: static;
  color: #555;
  font-weight: bold;
}

.day span {
  position: relative;
  top: 10px;
}

.holiday {
  background: #787878;
  color: #fff;
}

.dDate {
  width: 120px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 3px;
  flex-direction: 100px;
  /* line-height: 2.3; */
}

.highlight {
  background: #ff0;
  cursor: context-menu;
}

.highlightClick {
  background: #ee32332b;
  color: black;
}

/* ----------------------------------- */
.itemDay {
  position: relative;
  top: 11px;
  cursor: default;
  /* z-index: 2; */
}

.btnLessMore {
  min-width: 0;
  line-height: 24px;
  margin: 0 2px;
}

.controlDate {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 7px;
}

.todayCircle {
  border: 3px red solid;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: relative;
  left: 3px;
  top: -25px;
  font-size: 0;
  /* background-color: red;
  opacity: 0.4; */
}
