<div class="calendar mat-card">
  <div class="controlDate">
    <button mat-raised-button (click) = "lessYear()" [ngClass]="{btnLessMore: true}"><<</button>
    <button mat-raised-button (click) = "lessMonth()" [ngClass]="{btnLessMore: true}"><</button>
    <div class='dDate'>{{arrMonthRu[month]}} {{year}}</div>
    <button mat-raised-button (click) = "moreMonth()" [ngClass]="{btnLessMore: true}">></button>
    <button mat-raised-button (click) = "moreYear()" [ngClass]="{btnLessMore: true}">>></button>
  </div>
  <div class='week head'>
    <div class='day'><span>пн</span></div>
    <div class='day'><span>вт</span></div>
    <div class='day'><span>ср</span></div>
    <div class='day'><span>чт</span></div>
    <div class='day'><span>пт</span></div>
    <div class='day'><span>сб</span></div>
    <div class='day'><span>вс</span></div>
  </div>
  <div class='week' (click)="selectDay($event)">
    <div class="day" *ngFor="let item of arrDate; let i = index" [ngClass]="{holiday: item.holiday}" attr.data-date="{{item.dayW}}">
      <ng-template *ngIf="item.dayW > 0 && item.dayW <= daysInMonth; then dayNum">
      </ng-template>
      <section *ngIf="item.today === true" class="todayCircle">.</section>

      <ng-template #dayNum>
          <span [ngClass]="{itemDay: true}">{{item.dayW}}</span>
      </ng-template>

    </div>
  </div>
</div>

<app-tasks [year]="year" [month]="month" [day]="day"></app-tasks>
